:root {
    /* Primary Colors */
    --lightRed: hsl(356, 100%, 66%); /* CTA Text */
    --lighterRed: hsl(355, 100%, 74%); /* CTA hover background */
    --darkBlue: hsl(208, 49%, 24%); /* headings */

    /* Neutral */
    --white: hsl(0, 0%, 100%); /* text */
    --grayishBlue: hsl(240, 2%, 79%); /* footer text */
    --darkGrayishBlue: hsl(207, 13%, 34%); /* body copy */
    --darkBlackBlue: hsl(240, 10%, 16%); /* footer background */

    /* Gradient */
    /* Background gradient - Intro/CTA mobile nav: */
    --lightestRed: hsl(13, 100%, 72%);
    --red: hsl(353, 100%, 62%);

    /* Background gradient - body: */
    --darkerGrayishBlue: hsl(237, 17%, 21%);
    --desaturatedBlue: hsl(237, 23%, 32%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Overpass', sans-serif;
    overflow-x: hidden;
}

.top-nav {
    position: relative;
    overflow: hidden;
    /* margin-top: 30px; */
}

.top-nav .nav-links {
    display: none;
}

.top-nav a {
    text-decoration: none;
    display: block;
    padding: 60px 25px 0 25px;
}

nav a.icon, nav a.close {
    position: absolute;
    right: 0;
    top: 9px;
    font-size: 1.5em;
}

.nav-card {
    width: 300px;
    height: 100%;
    background-color: brown;
    margin: 0 auto;
    border-radius: 2px;
    overflow: hidden;
}

.nav-items {
    display: flex;
    align-content: center;
    padding-left: 6em;
}

.nav-items a {
    text-align: center;
    color: var;
}

.arrow {
    width: 8px;
    height: 6px;
    position: relative;
    top: 24%;
}

.arrow-light {
    display: none;
}

.icon {
    display: block;
}

.icon, .close {
    animation: moveInDown 1s ease-out;
}

.close {
    display: none;
}

nav a:hover {
    background-color: var(--lighterRed);
}

.container {
    background:linear-gradient(to bottom, var(--lightestRed), var(--red));
    border-bottom-left-radius: 25%;
    overflow: hidden;
}


/*dropdown styles*/
.connect-btn {
    border: none;
    cursor: pointer;
}

.connect {
    position: relative;
    display: inline-block;
}

.dropdown-items {
    display: none;
    position: absolute;
    background-color: var(--grayishBlue);
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-items a {
    color: var(--darkGrayishBlue);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-items a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.login {
    border: none;
    background-color: inherit;
    font-size: 16px;
}

.signup {
    border-radius: 100px;
    width: 10em;
    margin-left: 6.5em;
    background-image: linear-gradient( to left, var(--red), var(--lightestRed));
    border: none;
}

.cta {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.cta-lg {
    display: none;
}


/* Hero Section */

.svg-bg {
    background: url(./images/bg-pattern-intro.svg) no-repeat;
    background-position: 35.5% 32%;
    background-size: 91em;
    overflow: hidden;
}

.container .hero-heading {
    padding: 7em 20px 0 20px;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    /* display: block; */
}

.container .hero-heading-lg {
    display: none;
}

.container .hero-heading h2 {
    font-family: 'Overpass', sans-serif;
    color: var(--white);
    font-size: 38px;
    text-align: center;
}

.hero-p {
    color: var(--white);
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    animation: moveInRight 3s ease-out;
}

.hero-p-lg {
    display: none;
}

.hero-p p:first-child {
    padding: 20px 0em 5px 2em;
}
.hero-p p:last-child {
    text-align: center;
}

.hero-cta {
    padding: 3.5em 0 11em 1em;
    margin: 0 auto;
    position: relative;
    left: 4%;
}

.hero-cta .start-btn, .hero-cta .learn-btn {
    border-radius: 50px;
    padding: 15px;
    width: 9em;
    font-size: 18px;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    margin-right: 15px;
}

.start-btn {
    color: var(--lightRed);
    background: var(--white);
    border: none;
}
.learn-btn {
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--white);
}

.future {
    padding: 7em 0 65px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.future h1, .free-open h1 {
    font-family: 'Overpass', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    color: var(--darkBlue);
}

.desktop {
   margin: 50px 0 40px 0;
}

.desktop-lg {
    display: none;
}

.future-contents {
    padding-bottom: 1.8em;
}

.future-contents-h1-lg {
    display: none;
}

.future-contents-h1 {
    display: block;
}

.hide-sm {
    display: none;
}

.future p, .state-of p, .free-open p{
    margin: 20px;
    text-align: center;
    padding: 0 20px;
    line-height: 1.7em;
    font-weight: 300;
    color: var(--darkGrayishBlue);
}

.infrastructure {
    padding-top: 12em;
    overflow: hidden;
    position: relative;
}

.infrastructure .state-of {
    position: absolute;
    bottom: 7em;
}

.infrastructure .state-of h1 {
    font-size: 2.5em;
    color: var(--white);
    text-align: center;
    font-weight: 600;
}

.infrastructure .state-of p {
    color: var(--grayishBlue);
    margin: 20px 20px 0 20px;
    padding: 0px 23px;
}

.infrastructure .infrastructure-container, footer {
    height: 40em;
    background: linear-gradient(to bottom, var(--darkerGrayishBlue), var(--desaturatedBlue));
    border-top-right-radius: 7em;
    border-bottom-left-radius: 6em;
    padding-top: 30px;
    overflow: hidden;
}

.infrastructure .circles {
    width: 23em;
    margin-top: 52px;
    margin-bottom: 54px;
    font-size: 27.5px;
    right: 122px;
    position: relative;
    bottom: 325px;
}

.logo {
    animation: moveInUp 3s ease-out;
}

.phones {
    width: 25.5em;
    position: absolute;
    bottom: 26em;
    right: -20px;
}


.free-open {
    position: relative;
    top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.tooling {
    padding-top: 20px;
}

footer {
    background: var(--darkBlackBlue);
    color: var(--grayishBlue);
    border-bottom-left-radius: 0;
    border-top-right-radius: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
    height: auto;
    margin-top: 6em;
}

footer #logo {
    padding-bottom: 1.5em;
}

.footer-nav .nav li a {
    text-decoration: none;
    color: var(--grayishBlue);
}

.footer-nav .nav li {
    list-style: none;
    padding-top: 12px;
    text-align: center;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}

.footer-nav .nav li:first-child {
    font-weight: 700;
    margin: 40px 0 20px 0;
}

.footer-nav .nav li:first-child a {
    color: var(--white);
}

.attribution {
     font-size: 11px; text-align: center; 
     margin: 3em;
}

.attribution a {
     color: hsl(228, 45%, 44%);
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    80% {
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/* MEDIA QUERIES */

@media screen and (min-width: 600px) {
    .hero-cta {
        display: flex;
        justify-content: center;
    }
    
    .container .hero-heading {
        display: none;
    }

    .container .hero-heading-lg {
        display: block;
    }

    .container .hero-heading h2 {
        font-size: 45px;
    }

    .hero-p {
        display: none;
    }

    .hero-p-lg {
        display: block;
        font-size: 18px;
    }



}


@media screen and (min-width: 1200px) {
    .svg-bg {
        background-position: 27% 51%;
        background-size: 205em;
    }

    .hero-cta {
        padding-bottom: 7em;
        padding-top: 2.5em;
        margin-right: 70px;
    }
    
    .container .hero-heading h2 {
        font-size: 57px;
    }

    .top-nav {
        padding-left: 33px;
    }

    .top-nav > h1 {
        display: flex;
        justify-content: space-between;
    }

    .top-nav a {
        padding: 60px 0 0 0;
    }

    .nav-items {
        padding-left: 0em;
    }

    .nav-items a {
        padding-top: 0px;
        color: var(--white);
        margin-right: 3em;
        font-weight: 600;
    }

    .nav-items .arrow-light {
        width: 12px;
        height: 10px;
        margin-left: -38px;
        margin-top: -2.5px;
    }

    .connect .arrow-light {
        position: relative;
        top: -13px;
        left: 6.6em;
    }

    .arrow-dark {
        display: none;
    }

    .arrow-light {
        display: block;
    }
    
    a.logo {
        padding-left: 84px;
    }

    .top-nav a.icon {
        display: none;
    }

    .top-nav .cta-lg a {
        padding-left: 0;
    }

    .cta-lg a button {
        font-size: 14px;
    }

    .cta-lg {
        padding-top: 0;
        padding-right: 100px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 5.5em;
    }

    .signup-lg {
        width: 8em;
        margin: 0;
        background: white;
        height: 3em;
        color: var(--lightRed);
        font-weight: 600;
    }

    .login-lg {
        color: white;
        padding-top: 10px;
        padding-right: 30px;
    }

    .top-nav .nav-links {
        display: flex;
    }
    
    .nav-card {
        width: 100%;
        background-color:transparent;
        border-radius: 0;
        display: flex;
        padding-left: 15em;
        margin-top: -2em;
    }

    hr, .cta {
        display: none;
    }

    .cta-lg {
        display: flex;
    }

    .hero-cta .start-btn, .hero-cta .learn-btn {
        padding: 12px;
        width: 8em;
        font-size: 15px;
    }

    .future h1, .free-open h1 {
        font-size: 38px ;
    }

    .wrapper {
        display: flex;
    }

    .desktop {
        display: none;
    }

    .desktop-lg {
        display: block;
        width: 3em;
        font-size: 17.5em;
        position: relative;
        bottom: 1em;
        left: 249px;
        margin-top: 62px;
    }

    .laptop-lg {
        left: -245px;
        bottom: 0;
    }

    .future-text {
        padding-bottom: 6em;
        padding-top: 1.5em;
    }

    .future-contents {
        padding-left: 6em;
        padding-bottom: 3em;
    }

    .future-contents-h1 {
        display: none;
    }

    .future-contents-h1-lg {
        display: block;
    }

    .future p, .free-open p, .future-contents-h1-lg h1 {
        text-align: left;
        width: 131.5%;
    }

    .future-contents-h1-lg h1 {
        font-size: 26px;
        padding-left: 40px;
    }

    .infrastructure {
        padding-top: 0;
        overflow: visible;
        margin-top: -21em;
    }

    .infrastructure .infrastructure-container {
        height: 22.5em;
    }

    .infrastructure .circles {
        width: 33em;
        right: 185px;
        bottom: 20em;
    }

    .infrastructure .state-of {
        width: 45%;
        left: 38.1em;
        bottom: 5em;
    }

    .infrastructure .state-of h1 {
        margin-left: 18px;
    }

    .infrastructure .state-of p{
        text-align: left;
    }

    .phones {
        left: 7.2em;
        top: -4em;
        width: 31em;
    }

    .phones-wrap {
        display: flex;
    }

    .free-open {
        padding-top: 2em;
    }

    .wrap {
        position: relative;
        right: 14em;
        padding-top: 13.7em;
    }

    .free-open p {
        width: 105%;
    }

    footer {
        align-items: initial;
        padding-left: 4em;
    }

    nav.footer-nav {
        display: flex;
        justify-content: space-evenly;
        margin-top: -3em;
        padding-left: 4em;
    }

    footer #logo {
        padding-bottom: 0;
    }

    .footer-nav .nav li a {
        font-size: 14px;
    }

    .footer-nav .nav li:first-child {
        margin-top: 0;
    }

    .footer-nav .nav li {
        text-align: left;
    }

    ul.nav2, ul.nav3 {
        margin-left: -6em;
    }

    .attribution {
        margin-top: 7px;
        margin-bottom: 0;
    }
}
